* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(120deg, #4e54c8, #8f94fb);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  background: #fff;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-group input:focus {
  outline: none;
  border-color: #4e54c8;
}

button {
  width: 100%;
  padding: 10px;
  background: #4e54c8;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #3c40a4;
}

.login-text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.login-text a {
  color: #4e54c8;
  text-decoration: none;
}
/*. login */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(120deg, #4e54c8, #8f94fb);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.login-container {
  background: #fff;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Inputs */
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-group input:focus {
  outline: none;
  border-color: #4e54c8;
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  background: #4e54c8;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #3c40a4;
}

/* Text */
.signup-text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.signup-text a {
  color: #4e54c8;
  text-decoration: none;
}
